/.idea/
/.vscode/
/env/
/venv/
/.venv/
__pycache__/
*.pyc
*.egg-info
/build/
/dist/
/.tox/
/.pytest_cache/
/.mypy_cache/
/docs/_build/
.coverage
.coverage.*
/htmlcov/
/.pybuild/

# Debian build artifacts
/debian/python3-flask-wtf/
/debian/files
/debian/files.new
/debian/debhelper-build-stamp
/debian/*.substvars
/debian/*.debhelper.log
/debian/*.debhelper
