Source: python3-flask-wtf
Section: python
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-hatchling,
 python3-pytest,
 python3-flask,
 python3-wtforms,
 python3-itsdangerous,
Standards-Version: 4.7.0
Homepage: https://github.com/pallets-eco/flask-wtf/
Rules-Requires-Root: no

Package: python3-flask-wtf
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Simple integration of Flask and WTForms
 Flask-WTF offers simple integration of Flask and WTForms, including
 CSRF protection, file upload, and reCAPTCHA.
 .
 This package installs the Python 3 version of Flask-WTF.
